<h1><%= @movie_title %></h1>
<%= image_tag @movie_post %><br>

<div> Released in: <%= @movie_year %></div>
<p><%= @movie_id%><p>

<% Omdb::Api.new.fetch(params[:movie])  %>
<%= form_tag "/movies", method: :get do %>
<%= text_field_tag :movie %>
<%= submit_tag "Search" %>
<% end %>
